article{
    height: 200px;
    border: 1px solid black;
    margin: 20px;
    width: 65%;
    background-color: rgb(49,104,150)
}
article img{
    margin: 10px;
    width: 300px;
    float: left;
}
h1{
    display: inline-block;
    margin: 10px;
    padding: 0px;
    float: left;
    color: white;
}
p{
    color: white;
}
section header{
    width: 899px;
    height: 200px;
    border: 1px solid black;
    border-radius: 0px;
    background-image: url("../images/selectheader.png");
    opacity: 0.8;
    background-size: 100% 100%;
    margin: 0px;
}
#content{
    height: 710px;
}
#content header h1 {
    margin-top: 40px;
}
.h2{
    margin: 0px;
    margin-left:  310px;
}
aside{
    float: right;
}
article{
    float: left;
}
.nakov{
    margin-top: 0px;
}
button{
    display: block;
    padding: 5px 20px;
    margin-right: 50px;
    width: 200px;
    color: black;
    background-color: #ffaa00;
    opacity: 0.5;
    margin-top: -165px;
    margin-bottom: 100px;
    font-size: 15px;
}
button:hover{
    background-color: #ffaa00;
    color: white;
    opacity: 1;
    font-weight: bold;
}

article>h1:first-of-type {
    display: inline-block;
    margin: 8px;
    padding: 0px;
    float: left;
    color: white;
}

@media all and (max-width: 1000px){
	section header {
		width: 100%;
	}
}