body{
    background: linear-gradient(white,rgb(49,104,150), black);
    font-family: "Arial", Times, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    border: 1px solid black;
    width: 900px;
    height: 94px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0 auto;
    background-image: url("../images/header.png");
    border-bottom: none;
}
#content {
    border: 1px solid black;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border-top: none;
    border-bottom: none;
    background-color: rgb(214,214,214);
}
footer {
    border: 1px solid black;
    border-top:none;
    width: 1000px;
    height: 75px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0 auto;
    background-color: rgb(31,52,83);
    padding-top: 50px;
}
h3 {
    font-size: 15px;
    text-align: center;
    margin-top: -5%;
    margin-left: 35%;
    color: white;
    width: 31%;
}
nav{
    background-color: rgb(31,52,83);
    height: 45px;
    border-top: none;
}
ul {
    list-style-type: none;
    margin: 0px;
    margin-left: 20px;
    height: 100%;
}
li{
    height: 70%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 3.5%;
    padding-top: 13px;
}
li:hover{
    background:rgb(22,35,53);
    border-radius: 10px;
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer > img {
    float: left;
}
#pic {
    width: 10%;
    height: 50%;
    padding-bottom: 4%;
    padding-left:3%;
}
#whatif {
    width: 10%;
    height: 90%;
    padding-bottom:3%;
    padding-left:3%;
}
#cssvalidator{
    width: 10%;
    height: 25%;
    padding-bottom: 4%;
    padding-left:3%;
}
#htmlvalidator{
    width: 10%;
    height: 25%;
    padding-bottom: 4%;
    padding-left:3%;
}
#softuni {
    width: 20%;
    height: 70%;
    padding-bottom: 4%;
    padding-left:3%;
}
#trolino {
    width: 15%;
    padding-left:3%;
    padding-bottom:4%;

}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media all and (max-width: 1000px) {
    * {
        box-sizing: border-box;
        margin: 0 auto;
    }

    section header{
        width: 100%;
        margin: 0 auto;
    }

    header {
        width: 100%;
        margin: 0 auto;
    }

    #content {
        width: 100%;
        margin: 0 auto;
    }

    footer {
        width: 100%;
        margin: 0 auto;
    }
}